-r requirements.txt

pytest
pytest-asyncio
pytest-cov
twine



cachetools==5.3.2 
chardet==5.2.0
colorama==0.4.6
distlib==0.3.8
filelock==3.12.2
importlib-metadata==6.7.0
packaging==23.2
platformdirs==4.0.0
pluggy==1.2.0
pyproject-api==1.5.3
tomli==2.0.1
tox==4.8.0
typing-extensions==4.7.1
virtualenv==20.25.0
zipp==3.15.0
